# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# This workflow will install Deno then run `deno lint` and `deno test`.
# For more information see: https://github.com/denoland/setup-deno

name: Deno_iOS

on:
  push:
    tags:
      - "V*"
    # branches: ["main"]
  pull_request:
    # branches: ["main"]
  workflow_dispatch:

# permissions:
#   contents: read

jobs:
  test:
    runs-on: self-hosted

    steps:
      - name: Setup repo
        uses: actions/checkout@v4

      - name: Install Node Modules
        run: npm install

      - name: Install Maestro
        uses: mobile-dev-inc/maestro-github-actions@main
        with:
          version: 'latest' 
        # run: |
        #   curl -fsSL "https://get.maestro.mobile.dev" | bash
        #   echo "$HOME/.maestro/bin" >> $GITHUB_PATH
      
      - name: Boot iOS Simulator
        run: |
          DEVICE="iPhone 15"
          UDID=$(xcrun simctl list devices | grep "$DEVICE" | grep -v unavailable | head -n 1 | awk -F '[()]' '{print $2}')
          xcrun simctl boot "$UDID" || true
          open -a Simulator
          sleep 15

      - name: Build and Run iOS App
        run: npx expo run:ios

      - name: Run Maestro Tests
        run: maestro test ./expo-sample/.maestro/ --format junit --output report.xml

      - name: Upload Maestro Report
        uses: actions/upload-artifact@v4
        with:
          name: maestro-report
          path: report.xml
